#pallete {
  color: black;
  color: white;
  color: red;
  color: #39ff14;
  color: #ff6200;
  color: #95da25;
  color: #c2cb1f;
  color: #e2a31d;
  color: #e25e1d;
  color: #873811;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Joti One", cursive;
}

body {
  background-image: linear-gradient(to bottom right, #ff6200, #e2a31d);
  background-size: cover;
  height: 100vh;
}

/* HOME PAGE */
#home_container {
  text-shadow: .1em .1em #39ff14, .2em .2em black;
}

#home_container p {
  text-shadow: none;
  font-size: 1.25em;
  font-weight: 900;
  font-family: 'Jim Nightshade', cursive;
}

#home_container p:nth-of-type(1) {
  text-shadow: 1px 1px  white;
  font-size: 2em;
  margin: 0
}



/* FOOTER */
footer {
  position: absolute;
  bottom: 1%;
  left: 1%;
}

footer #copy {
  font-size: 0.75em;
}

/* NAVBAR */
.navbar-custom,
.navbar-dark .navbar-brand {
  background-color: black;
  color: #39ff14;
  text-shadow: 1px 1px 0 black, 1px 1px 0 white, 1px 1px 1px red;
}
