#pallete{
  color: black;
  color: white;
  color: red;
  color: orange;
  color: #39ff14;
  color: #ff6200;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Joti One', cursive;
}