#pallete{
  color: black;
  color: white;
  color: red;
  color: orange;
  color: #39ff14;
  color: #ff6200;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: 'Joti One', cursive;
}

.navbar-custom, .navbar-dark .navbar-brand {
  background-color: black;
  color: #39ff14;
  text-shadow: 1px 1px 0 black, 1px 1px 0 white, 1px 1px 1px red;
}