<p>How do you want to see the data: </p>
<form action="/sortData" method="GET">
    <label for="date">Date: </label>
    <input type="radio" name="sortBy" id="date" value='date' checked>
    <label for="state">State: </label>
    <input type="radio" name="sortBy" value='state' id="state">
    <br>
    <input type="submit" value="Click">
</form>