#userPage_container {
  background-color: darkgreen;
}

#userPage_container h1 {
  width: 100%;
  text-align: center;
  color: black;
  font: bold 3em "Henny Penny", serif;
  text-shadow: 1px 1px 10px white, 6px 6px 10px darkgreen;
  letter-spacing: 0.1em;
}

#userPage_container .oakTree_container {
  height: 14vh;
  width: 25%;
  margin: 0 auto;
}

#userPage_container h3 {
  font: bold 1.5rem "Henny Penny", serif;
  text-shadow: 1px 1px 10px white, 6px 6px 10px darkgreen;
  color: black;
  text-align: center;
}

#userPage_container h4 {
  font: bold 1.25em "Henny Penny", serif;
  text-shadow: 1px 1px 10px white, 6px 6px 10px darkgreen;
  color: black;
  text-align: center;
}

#userPage_container input {
  display: block;
  line-height: 48px;
  min-width: 100px;
  box-shadow: -3px 3px 6px 3px #372449;
  color: black;
  font: bold 1.75rem "Henny Penny", serif;
  letter-spacing: 0.1em;
  text-align: center;
}

#userPage_container input::placeholder {
  color: black;
}

#userPage_container input:focus {
  outline: none;
  line-height: 48px;
}

#userPage_container .btn {
  box-shadow: -3px 3px 6px #372449;
  font: bold 1.75rem "Henny Penny", serif;
  text-shadow: 1px 1px 0 black, 1px 1px 10px darkgreen, 6px 6px 10px darkgreen;
  font-size: 1em;
}

#userPage_container #media_container {
  background: #372449;
  border: white 2px solid;
  height: 88vh;
  overflow: auto;
}

#userPage_container .newsBox {
  background: white;
  border: white ridge 2px;
  margin: 20px auto;
  box-shadow: 0px -1px 10px 6px #372449;
  /* height: 15vh; */
  width: 90%;
  overflow: auto;
  font-size: 1em;
}

#userPage_container .newsBox a:hover {
  color: #372449;
  font-weight: bold;
  text-shadow: 1px 1px 0 white, 1px 1px black;
}

#userPage_container .mediaBox {
  background: white;
  border: white ridge 2px;
  margin: 10px auto;
  box-shadow: 0px -1px 10px 6px #372449;
  height: 25vh;
  width: 90%;
}

#userPage_container a {
  color: black;
}

#userPage_container a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 0 black, 1px 1px 10px white, 6px 6px 10px darkgreen;
}

#calendar_container {
  border: white ridge 2px;
  height: 75vh;
  box-shadow: 0px -1px 10px 6px #372449;
}

#calendar {
  width: 100%;
  height: 100%;
  background: #372449;
}

#upcoming_container {
  border: white solid 2px;
  height: 25vh;
  box-shadow: 0px -1px 10px 6px #372449;
}

@media (max-width: 599px) {
  h1 {
    font-size: 4rem;
    margin-top: 28vh;
  }

  input {
    margin: 10px auto;
    width: 50vw;
  }

  .mediaBox {
    border: white ridge 20px;
    margin: 50px auto 10px;
    box-shadow: 0px -1px 10px 6px #372449;
    height: 33vh;
    width: 90%;
  }

  h3 {
    font-size: 2rem;
  }
}

@media (min-width: 600px) {
  h1 {
    margin-top: 11vh;
  }

  h3 {
    font-size: 3rem;
  }

  input {
    margin: 10px auto;
    width: 50vw;
  }
}

@media (min-width: 1000px) {
  input {
    margin: 15px auto;
    width: 20vw;
  }
}

@media (min-width: 1024px) {
  input {
    margin: 15px auto;
    /* width: 200vw; */
  }

  h1 {
    margin-top: 0;
  }

  h3 {
    font-size: 2rem;
  }
}
