<%- include('./partials/header')  %> 

  <body>
    <%- include('./partials/navbar')  %> 

    <div id="home_container" class="text-center mt-5">
      <h1>Monstras</h1>
      <p>monstra intus fera currit de me</p>
      <p>(the monsters are running wild through me)</p>
    </div>
    <div id="image_container" class="row">
      <div class="col">
        <img src="assets/werewolf.jpg" alt="">
      </div>
      <div class="col">
        <img src="" alt="">
      </div>
      <div class="col">
        <img src="" alt="">
      </div>


    </div>

    <%- include('./partials/footer')  %> 
    
