



<div class="container text-center" id='form_container'>
  <div class="row">
    
    <div class="col-lg-4 col-sm ">
      <h1>Log In Form</h1>
      <form action="" method="get">
        <label>
          Username:
          <input type="text" name="" id="">
        </label>
        <label>
          Password:&nbsp;
          <input type="password" name="" id="">
        </label>
      </form>
    </div>
  </div>

</div>
