
<%- include('partials/header', {bodyId: "body_landing"}) %>
  <h1 class="text-center text-uppercase">Quiz Me <br />Study Cards</h1>
  <%- include('partials/loginForm') %> 
<%- include('partials/footer') %>
