#calendar_container #calendar {
  font: bold 0.75em "Henny Penny", serif;
  color: white;
}

#calendar button {
  font: bold 1em "Henny Penny", serif;
  background: darkgreen;
  color: white;
  text-shadow: 2px 2px 0 black;
  width: 7em;
}

#calendar_container #calendar a {
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 3px black;
}
/* 
#calendar .fc-view {
  margin-top: -2%;
  height: 100%;
} */

.tv-content {
  background-color: red;
  color: red;
}