<%- include  ('partials/header', {date})%> 
<p>How do you want to see data: </p>
<form action="/sortData" method="GET">
    <label for="date">Date: </label>
    <input type="radio" name="date" id="date">
    <label for="state">State: </label>
    <input type="radio" name="state" id="state">
</form>


<%- include  ('partials/footer')%> 