<%- include('partials/header', {date})  %> 

  
      <h1>COVID-19 data by state</h1>
    <% let header = Object.keys(data[0]) %>
    <table>
      <thead>
        <tr>
          <% header.forEach(el => { %>
          
            <th><%= el %></th>
          <% }) %>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 1; i < data.length; i++){%>
        <tr>
          <% header.forEach(el => { %>
          <td><%= data[i][el] %></td>
          <% }) %>
        </tr>
        <% } %>
      </tbody>
    </table>

<%- include ('partials/footer') %> 