#tv_background {
    /* background-image: linear-gradient(#665511, #221111, black); */
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: scroll;
    /* border: purple solid 3px; */
    position: relative;
    font-family: creepster, fantasy;
    /* text-shadow: 3px 3px 3px #772222, 5px 5px 0 black; */
    
}

#tvBackgroundImage {
    width: 99%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

#tvTitleImageRow h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    color: #ffffff;
    text-shadow: 1px 1px black, 3px 3px red;
    letter-spacing: .75em;
}

p {
    text-shadow: none;
    letter-spacing: normal;
}

#tvTest {
    /* border: purple 3px solid; */
    height: 90vh;
    position: relative;
}



#remote {
    width: 95%;
    background-color: darkgray;
    text-align: center;
    height: 50vh;
    margin: 10% auto;
    border-radius: 15%;
}

#remote p {
    font-size: 2em;
    padding-bottom: 0;
    margin: 0;
    text-shadow: 3px 3px 3px #772222, 5px 5px 0 black;
}

#remote li:nth-of-type(3){
    display: inherit;
}

#remote li,
#remote li:nth-of-type(3){
    list-style-type: none;
    font-size: .5em;
    text-align: left;
    width: 100%;
    padding: 2% 0;
    text-shadow: 2px 3px 3px white;
}

#remote li:nth-of-type(1) {
    padding-top: 0;
}

#remote li:nth-of-type(1),
#remote li:nth-of-type(7) {
    display: none;
}



/* #largeTvScreen_container {
    border: red solid 2px;
    margin: 0 auto;;
    width: 100vw;
    height: 58vh;
    min-height: 10%;
    min-width: 10%;
} */

#largeTvScreen_container {
    /* border: green 3px solid; */
    width: 45%;
    height: 30vh;
    /* margin: 0 auto; */
    position: absolute;
    top: 42%;
    /* bottom: 0; */
    right: 40%;
}

#largeTvScreen {
    position: relative;
    transform: skewY(6deg);
    width: 100%;
    /* min-height: 10%;
    min-width: 10%; */
    z-index: 1;
    bottom: 0;
    opacity: 1;
    /* right: 33%; */
}





#smTvScreen_container {
    border: orange solid 2px;
    margin: 0 auto;;
    width: 100vw;
    height: 30vh;
    /* min-height: 10%;
    min-width: 10%; */
}

.lg-you-tube {
    transform: skewY(6deg);
    position: absolute;
    top: -16%;
    left: 12%;
    width: 75%;
    height: 80%;
    z-index: 0;
    margin: 40px auto;
    opacity: .4;
}

    

.smallTvScreen {
    position: relative;
    border: 2px solid yellow;
    width: 100%;
    height: 100%;
    margin: 2% auto;
    z-index: 1;
}

/* .you-tube {
    position: absolute;
    top: 3%;
    left: 12%;
    background-color: #665511;
    width: 75%;
    height: 80%;
    z-index: 0;
    margin: 2% auto;
} */

#tv-guide {
    width: 95%;
    background-color: #ebf1b8;
    border: #4b3f30 ridge 5px;
    overflow: scroll;
    height: 60vh;
    margin: 1% auto;
    color: #aa2222;
    text-shadow: 1px 1px 0 black, 2px 2px 1px #ffbb99, 4px 4px 0 black;
}

#tv-guide h1 {
    position: absolute;
    left: 25%;
}

@media screen and (max-width: 450px) {
    .lg-you-tube {
        /* position: absolute; */
        top: -15%;
        /* left: 12%;
        width: 75%;
        min-width: 10%;
        height: 82%;
        z-index: 0;
        margin: 40px auto; */
    }

    #remote {
        text-align: left;
    }

    #remote p {
        font-size: 3.5em;
        padding-bottom: 0;
        margin: 0;
        text-align: center;
    }

    #remote li {
        padding: 0;
    }

    #remote a {
        font-size: 1em;
    }

    ul {
        margin-top: -4%;;
    }

}